@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sniglet:wght@400;800&display=swap");

.register {
  width: 100%;
  height: 100vh;
  background: #10141e;
}

.register .regis_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 78px 0 0 0;
}

.regis_container .regis_form {
  display: flex;
  flex-direction: column;
  margin-top: 83px;

  width: 400;
  height: 373;
  border-radius: 20px;
  background: #161d2f;

  padding: 32px;
}

.regis_form .regis_title {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 40px;
}

.regis_form .input_email {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  background: transparent;
  padding: 3px 0px 17px 16px;
  width: 336px;
  border-radius: 5px;
  margin-bottom: 24px;
}

.regis_form .input_pass {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  background: transparent;
  padding: 3px 0px 17px 16px;
  width: 336px;
  border-radius: 5px;
  margin-bottom: 24px;
}

.regis_form .input_pass2 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    padding: 3px 0px 17px 16px;
    width: 336px;
    border-radius: 5px;
    margin-bottom: 40px;
  }

.regis_form .regis_account {
  background: #fc4747;
  border: unset;
  border-radius: 6px;
  padding: 14px 15px;
  cursor: pointer;
  transition: .3s;
  margin-bottom: 24px;
}

.regis_form .regis_account:hover {
    color: #161D2F;
    background: #FFFFFF;
}

.regis_form .regis_account:hover a {
    color: #161D2F;
}

.regis_form .regis_account a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  transition: .3s;
}

.regis_form .regis_go {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.regis_form .regis_go a {
    text-decoration: none;
    color: #FC4747;
    font-weight: 400;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
}